<ion-view title="Settings">
<ion-nav-buttons side="left">
<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">
<div class="content">
	<div class="units">
		<p>mph</p>
		<p>km</p>
		<label class="toggle toggle-units">
			<input type="checkbox">
			<div class="track track-units">
				<div class="handle handle-units"></div>
			</div>
		</label>
	</div>
	{{size}}
	<div class="weight">
		<p>weight in lbs</p>
		<div style="margin-left: {{slideLeft}}px;" class="counter-box">
			<p>{{settings.weight}}</p>
		</div>
		<input class="weight-range" type="range" name="volume" min="0" max="300" ng-model="settings.weight">
	</div>
	<!--<ul class="list">
		<li class="item item-toggle">
			Show distances in miles?
			<label class="toggle">
				<input type="checkbox" ng-model="settings.distanceTypeMiles">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item range range-positive">
			Weight:
			<input type="range" name="volume" min="50" max="300" ng-model="settings.weight">
			{{settings.weight}}
		</li>
	</ul>-->
</div>
</ion-content>
</ion-view>
